<div class="blog-hero" aria-labelledby="blog-heading-text" data-cms-bind="#post_hero">
  {{ $processed_image_props := dict 
    "data_binding" false 
    "image_path" .Params.image 
    "image_alt" .Params.image_alt 
    "image_width" "1000" 
    "image_format" "webp"
    "class" "blog-hero-image"
  }}
  {{ partial "bookshop" (slice "processed-image" $processed_image_props) }}

  {{ with .post_tags }}
    <div class="blog-post-tags" data-cms-bind="#tags">
      {{ range . }} 
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . | humanize }}</a>
      {{ end }}
    </div>
  {{ end }}
  <h1 id="blog-heading-text" class="blog-title">{{ .Params.heading }}</h1>
  <div class="blog-details">
    <ul>
      {{ with .Params.date }}
      <li>{{ . | time.Format ":date_long" }}</li>
      {{ end }}
      {{ if .Params.author }} 
      <li>{{ .Params.author }}</li>
      {{ else }}
      <li>{{ site.Data.seo.default_author }}</li>
      {{ end }}
    </ul>
  </div>
</div>