<div class="blog-hero" aria-labelledby="blog-heading-text">
  <img
    class="blog-hero-image"
    src="{{ .Params.image }}"
    alt="{{ .Params.image_alt }}" />
  
  {{ $optimized_image_params := dict "image_path" .Params.image "image_alt" .Params.image_alt "image_width" "900" "image_format" "jpeg" }}
  {{ partial "bookshop" (slice "optimized-image" $optimized_image_params) }}

  {{ with .post_tags }}
    <div class="blog-post-tags">
      {{ range . }} 
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . | humanize }}</a>
      {{ end }}
    </div>
  {{ end }}
  <h1 id="blog-heading-text" class="blog-title">{{ .Params.heading }}</h1>
  <div class="blog-details">
    <ul>
      {{ with .Params.date }}
      <li>{{ . | time.Format ":date_long" }}</li>
      {{ end }}
      {{ with .Params.author }}
      <li>{{ . }}</li>
      {{ else with site.Data.seo.default_author }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
</div>