<section style="background-color: {{ .background_color }};" aria-labelledby="hero-{{ .heading.heading_text | anchorize }}">
  <div class="hero-container">
    <div class="content">
      <h1
        id="hero-{{ .heading.heading_text | anchorize }}"
        class="heading"
        style="
        background: -webkit-linear-gradient(to left, {{ .heading.heading_gradient_color }} 50%, {{ .heading.text_color }}); 
        background: linear-gradient(to left, {{ .heading.heading_gradient_color }} 50%, {{ .heading.text_color }}); 
        -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
        {{ .heading.heading_text }}
      </h1>
      {{ with .subheading.text_content }}
        <div class="markdown-text subheading-text" style="color: {{ .subheading.text_color }};">
          {{ . | markdownify }}
        </div>
      {{ end }}
      {{ with .buttons }}
        <div class="buttons">
          {{ range . }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>

    <img
      class="hero-image"
      src="{{ .image.image_path }}"
      alt="{{ .image.alt_text }}" />

  </div>
</section>