<section style="background-color: {{ .background_color }};" aria-labelledby="hero-heading-text">
  <div class="hero-container">
    <div class="content">
      <h1
        id="hero-heading-text"
        class="heading"
        style="
        background: -webkit-linear-gradient(to left, {{ .heading.heading_gradient_color }} 50%, {{ .heading.text_color }}); 
        background: linear-gradient(to left, {{ .heading.heading_gradient_color }} 50%, {{ .heading.text_color }}); 
        -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
        {{ .heading.heading_text }}
      </h1>
      {{ with .subheading.text_content }}
        <div class="markdown-text subheading-text" style="color: {{ $.subheading.text_color }};">
          {{ . | markdownify }}
        </div>
      {{ end }}
      {{ with .buttons }}
        <div class="buttons">
          {{ range . }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>

    {{ $processed_image_props := dict 
      "data_binding" false 
      "image_path" .image.image_path
      "image_alt" .image.alt_text
      "image_width" "1000" 
      "image_format" "webp" 
      "class" "hero-image"
      "loading" "eager"
    }}
    {{ partial "bookshop" (slice "processed-image" $processed_image_props) }}

  </div>
</section>