<a 
  class="primary-button" 
  href="{{ .button_link }}"
  {{ with .button_aria_label }}
    aria-label="{{ . }}"
  {{ end }}
  style="color: {{ .text_color }}; background-color: {{ .background_color }}; border: 2px solid {{ .background_color }};">
  <p>
    {{ with .button_icon }}
      <span class="button__icon"><i class="{{ . }}"></i></span>
    {{ end }}
    {{ .button_text }}
  </p>
</a>
<style>
  .primary-button p:hover {
    backdrop-filter: brightness({{ .hover_brightness }});
  }
</style>
