<!-- 
This is a placeholder component that uses a self hosted video.
This can result in the page size being overly large, and therefore slow to load.
On a production site, you probably want to look into something that allows you to embed videos, eg Vimeo,
or using a DAM, eg Cloudinary.
-->
<section 
  class="hero-video" 
  aria-labelledby="hero-video-heading-text">
  <div class="hero-video-container">
    <div 
      class="hero-video-filter" 
      style="backdrop-filter: brightness({{ .background_filters.brightness }}) blur({{ .background_filters.blur }}px);">
    </div>
    <video id="hero-video" playsinline autoplay muted loop poster="{{ .video.poster_image }}">
      {{ $video_ext_arr := split .video.video_path "." }}
      {{ $video_ext := index $video_ext_arr 1 }}
      <source src="{{ .video.video_path }}" type="video/{{ $video_ext }}">
    </video>
    <div class="hero-video-content">
      <button 
        style="color: {{ .heading.text_color }};" 
        aria-label="Toggle play/pause background video" 
        id="hero-video-pause-button" 
        onclick="toggleVideoPause()">
          <i class="fas fa-pause"></i>
      </button>
      <script defer>
        // Toggles background video play/pause
        const videoElement = document.getElementById("hero-video");
        const buttonElement = document.getElementById("hero-video-pause-button");
        // Change the playback speed to keep file size down while making video longer
        videoElement.playbackRate = {{ .video.playback_speed }}; 
        function toggleVideoPause() {
          if (videoElement.paused) {
            videoElement.play();
            buttonElement.innerHTML = `<i class="fas fa-pause"></i>`;
          } else {
            videoElement.pause();
            buttonElement.innerHTML = `<i class="fas fa-play"></i>`;
          }
        }
      </script>
      <h1 
        id="hero-video-heading-text" 
        class="hero-video-heading" style="color: {{ .heading.text_color }};">
        {{ .heading.heading_text }}
      </h1>
      {{ with .subheading.text_content }}
        <div 
        class="markdown-text hero-video-subheading-text" 
        style="color: {{ $.subheading.text_color }};">
          {{ . | markdownify }}
        </div>
      {{ end }}
      {{ with .buttons }}
      <div class="hero-video-buttons">
        {{ range . }}
          {{ partial "bookshop" . }}
        {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>