{{ define "main" }}

<section data-pagefind-body>
  <article class="blog-post">
    
    {{ partial "bookshop_bindings" `(dict "Params" .Params.post_hero "post_tags" .Params.tags)` }}
    {{ partial "bookshop" (slice "blog/hero" (dict "Params" .Params.post_hero "post_tags" .Params.tags)) }}

    <div data-cms-edit="content" class="markdown-text">
      {{ .Content }}
    </div>
  </article>
  
</section>

<section class="blog-related">
  <h2 class="blog-related-title">Recent Posts</h2>
  <div class="blog-related-posts">
    {{ range ( where site.RegularPages "Section" "blog" | first 3 ) }}
    <div>
      <a href="{{ .Permalink | relURL }}">
        <img class="blog-related-post-thumb" src="{{ .Params.thumb_image_path }}" alt="{{ .Params.thumb_image_alt }}" />
      </a>
      <div class="blog-related-post-content">
        <a class="blog-related-post-title" href="{{ .Permalink | relURL }}">
          {{ .Params.title }}
        </a>
        {{ with .Params.post_hero.date }}
          <p>{{ . | time.Format ":date_long" }}</p>
        {{ end }}
        {{ with .Params.tags }}
          <div class="blog-post-tags">
            {{ range . }} 
              {{ $href := print (absURL "tags/") (urlize .) }}
              <a href="{{ $href }}">{{ . | humanize }}</a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
