{{ define "main" }}

<section data-pagefind-body>
  <article class="blog-post">
    
    {{ partial "bookshop_bindings" `(dict "Params" .Params.post_hero "post_tags" .Params.tags)` }}
    {{ partial "bookshop" (slice "blog/hero" (dict "Params" .Params.post_hero "post_tags" .Params.tags)) }}

    <div data-cms-edit="content" class="markdown-text">
      {{ .Content }}
    </div>
  </article>
  
</section>

<section class="blog-related">
  <h2 class="blog-related-title">Recent Posts</h2>
  <div class="blog-related-posts">
    {{ range ( where site.RegularPages "Section" "blog" | first 3 ) }}
      {{ partial "bookshop" (slice "blog/related-post-card" .) }}
    {{ end }}
  </div>
</section>
{{ end }}
