<a 
  class="secondary-button" 
  href="{{ .button_link }}"
  {{ with .button_aria_label }}
    aria-label="{{ . }}"
  {{ end }}
  style="background-color: transparent; border: 2px solid {{ .background_color }};">
  <p 
  class="button__link" 
  style="color: {{ .text_color }};">
    {{ with .button_icon }}
      <span class="button__icon"><i class="{{ . }}"></i></span>
    {{ end }}
    {{ .button_text }}
  </p>
</a>

  <style>
    .secondary-button p:hover {
      backdrop-filter: brightness({{ .hover_brightness }});
    }
  </style>