
<section class="left-right" style="background-color: {{ .background_color }};" aria-labelledby="left-right-{{ .heading.heading_text | anchorize }}">
  {{ if .flipped }}
    <div class="left-right__wrapper">
      {{ $processed_image_props := dict 
        "data_binding" false 
        "image_path" .image.image_path
        "image_alt" .image.alt_text
        "image_width" "1000" 
        "image_format" "webp" 
        "class" "left-right__image-flipped"
        "loading" "lazy"
      }}
      {{ partial "bookshop" (slice "processed-image" $processed_image_props) }}
      <div class="left-right__text-flipped">
        <h2 id="left-right-{{ .heading.heading_text | anchorize }}" style="color: {{ .heading.text_color }};">
          {{ .heading.heading_text }}
        </h2>
        <div class="markdown-text left-right__text-content" style="color: {{ .text.text_color }};">
          {{ .text.text_content | markdownify }}
        </div>
        {{ with .button }}
          {{ partial "bookshop" . }}
        {{ end }}
      </div>
    </div>
  {{ else }}
    <div class="left-right__wrapper">
      <div class="left-right__text">
        <h2 id="left-right-{{ .heading.heading_text | anchorize }}" style="color: {{ .heading.text_color }};">
          {{ .heading.heading_text }}
        </h2>
        <div class="markdown-text left-right__text-content" style="color: {{ .text.text_color }};">
          {{ .text.text_content | markdownify }}
        </div>
        {{ with .button }}
          {{ partial "bookshop" . }}
        {{ end }}
      </div>
      {{ $processed_image_props := dict 
        "data_binding" false 
        "image_path" .image.image_path
        "image_alt" .image.alt_text
        "image_width" "1000" 
        "image_format" "webp" 
        "class" "left-right__image-unflipped"
        "loading" "lazy"
      }}
      {{ partial "bookshop" (slice "processed-image" $processed_image_props) }}
    </div>
  {{ end }}
</section>