.blog-section {
  max-width: var(--pageContainer);
  padding-inline: var(--pagePadding);
  padding-block: 98px;
  margin: 0 auto;
}
.blog-hero-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.search-bar {
  max-width: 27rem;
  margin: 0 auto;
  padding-inline: var(--pagePadding);
  padding-top: 24px;
}
.blog-article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  padding-block: var(--sectionPaddingMobile);
}
.blog-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-grid-image {
  display: block;
}
.blog-grid-image img {
  border-radius: 2px;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.pagination .page-link {
  display: inline-block;
  padding: 20px 27px;
  margin: 0px 15px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
}
.pagination .page-item .active {
  background: #034ad8;
  border-color: #034ad8;
  color: #ffffff;
}
.pagination .page-item:hover {
  color: #034ad8;
}
.pagination .page-link svg g {
  margin-right: -2px;
  fill: #333232;
}
.pagination .page-link:hover svg g {
  fill: #034ad8;
}
.blog-post-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.blog-hero .blog-post-tags {
  width: 100%;
}
.blog-post-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-top: 1rem;
}
.blog-post-tags a {
  display: block;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 12px;
  color: #034ad8;
  font-weight: 500;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-article-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-grid-item {
    align-items: start;
    justify-content: start;
  }
}
