.blog-post {
  max-width: 720px;
  padding-inline: var(--pagePadding);
  padding-block: 96px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-hero-image {
  border-radius: 2px;
}
.blog-title {
  font-size: 2rem;
  font-weight: 500;
  text-wrap: balance;
  margin-top: 24px;
  width: 100%;
}
.blog-details {
  margin-top: 16px;
  margin-bottom: 48px;
  width: 100%;
}
.blog-related {
  max-width: var(--pageContainer);
  padding-inline: var(--pagePadding);
  padding-bottom: 96px;
  margin: 0 auto;
}
.blog-related-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
.blog-related-title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
}
.blog-related-post-thumb {
  border-radius: 2px;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.blog-related-post-content {
  margin-top: 16px;
}
.blog-related-post-title {
  display: block;
  font-size: 1.25rem;
  margin-top: 8px;
}
@media only screen and (min-width: 600px) {
  .blog-related-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
