<section class="blog-section">
  <h1 class="blog-hero-title">{{ .context.Title }}</h1>
  <div class="search-bar">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
      });
    </script>
  </div>
  
  <div class="blog-article-grid">
    {{ range (.context.Paginator .page_size).Pages }}
      <div class="blog-grid-item">
        <a class="blog-grid-image" href="{{ .RelPermalink }}">
        {{ $optimizedImage := resources.Get .Params.thumb_image_path }}
        {{ with $optimizedImage }}
          {{ $optimizedImage := .Resize "700x webp" }}
        {{ end }}
        {{ with $optimizedImage }}
          <img 
            src="{{ .RelPermalink }}" 
            width="{{ .Width }}" 
            height="{{ .Height }}" 
          >
        {{ end }}
        </a>
        <h2 class="blog-post-title">
          <a href="{{ .RelPermalink }}" class="">{{ .Title }}</a>
        </h2>
        {{ with .Params.post_hero.date }}
          <p>{{ . | time.Format ":date_long" }}</p>
        {{ end }}
        {{ with .Params.tags }}
          <div class="blog-post-tags">
            {{ range . }} 
              {{ $href := print (absURL "tags/") (urlize .) }}
              <a href="{{ $href }}">{{ . | humanize }}</a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }} 
  </div>
  {{ if gt .context.Paginator.TotalPages 1 }}
    <nav class="blog-pagination">
      <ul class="pagination">
        {{ if .context.Paginator.HasPrev }}
          <li class="page-item">
            <a class="page-link" href="{{.context.Paginator.Prev.URL}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20.657"
                height="11.314"
                viewBox="0 0 20.657 11.314"
                style="transform: scale(-1, 1)">
                <g fill="#fff" data-name="Group 12">
                  <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                  <path
                    d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                    data-name="Rectangle 2401">
                  </path>
                  <path
                    d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                    data-name="Rectangle 2402">
                  </path>
                </g>
              </svg>
            </a>
          </li>
        {{ end }} 
        {{ $paginator := .context.Paginator }} 
        {{ range $paginator.Pagers }}
          <li class="page-item">
            <a
              class="page-link {{ if eq . $paginator }}active{{ end }}"
              href="{{.URL}}">
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }} 
        {{ if .context.Paginator.HasNext }}
          <li class="page-item">
            <a class="page-link" href="{{ .context.Paginator.Next.URL }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20.657"
                height="11.314"
                viewBox="0 0 20.657 11.314">
                <g fill="#fff" data-name="Group 12">
                  <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                  <path
                    d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                    data-name="Rectangle 2401">
                  </path>
                  <path
                    d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                    data-name="Rectangle 2402">
                  </path>
                </g>
              </svg>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</section>