<section class="blog-section">
  <h1 class="blog-hero-title">{{ .context.Title }}</h1>
  <div class="search-bar">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
      });
    </script>
  </div>
  
  <div class="blog-article-grid">
    <!-- Paginate is used for when you need to sort pages -->
    <!-- Paginator is used for the pagination controls -->

    {{ $pagesToPaginate := .context.Pages }}
    {{ $pagesToPaginate = $pagesToPaginate.ByParam "post_hero.date" }}
    {{ $pagesToPaginate = $pagesToPaginate.Reverse }}

    {{ range (.context.Paginate $pagesToPaginate .page_size).Pages }}
      <div class="blog-grid-item">
        <a class="blog-grid-image" href="{{ .RelPermalink }}">
          {{ if hasSuffix .Params.thumb_image_path ".svg" }}
            <img 
              src="{{ .Params.thumb_image_path }}" 
              alt="{{ .Params.thumb_image_alt }}"
            >
          {{ else }}
            {{ $processedImage := resources.Get .Params.thumb_image_path }}
            {{ with $processedImage }}
              {{ $processedImage = $processedImage.Resize "1000x webp" }}
            {{ end }}
            {{ with $processedImage }}
              <img 
                src="{{ .RelPermalink }}"
                alt="{{ $.Params.thumb_image_alt }}"
                width="{{ .Width }}" 
                height="{{ .Height }}" 
              >
            {{ end }}
          {{ end }}
        </a>
        <h2 class="blog-post-title">
          <a href="{{ .RelPermalink }}" class="">{{ .Title }}</a>
        </h2>
        {{ with .Params.post_hero.date }}
          <p>{{ . | time.Format ":date_long" }}</p>
        {{ end }}
        {{ with .Params.tags }}
          <div class="blog-post-tags">
            {{ range . }} 
              {{ $href := urlize . }}
              <a href="/tags/{{ $href }}">{{ . | humanize }}</a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ $paginator := .context.Paginator }} 
  {{ if gt $paginator.TotalPages 1 }}
    <nav class="blog-pagination">
      <ul class="pagination">
        {{ if $paginator.HasPrev }}
          <li class="page-item">
            <a class="page-link" href="{{ $paginator.Prev.URL }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20.657"
                height="11.314"
                viewBox="0 0 20.657 11.314"
                style="transform: scale(-1, 1)">
                <g fill="#fff" data-name="Group 12">
                  <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                  <path
                    d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                    data-name="Rectangle 2401">
                  </path>
                  <path
                    d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                    data-name="Rectangle 2402">
                  </path>
                </g>
              </svg>
            </a>
          </li>
        {{ end }} 
        {{ range $paginator.Pagers }}
          <li class="page-item">
            <a
              class="page-link {{ if eq . $paginator }}active{{ end }}"
              href="{{.URL}}">
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }} 
        {{ if $paginator.HasNext }}
          <li class="page-item">
            <a class="page-link" href="{{ $paginator.Next.URL }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20.657"
                height="11.314"
                viewBox="0 0 20.657 11.314">
                <g fill="#fff" data-name="Group 12">
                  <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
                  <path
                    d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                    data-name="Rectangle 2401">
                  </path>
                  <path
                    d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                    data-name="Rectangle 2402">
                  </path>
                </g>
              </svg>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</section>