
{{ with .Site.Data.nav }}
<footer
  class="footer"
  style="background-color: {{ .footer.background_color }}; color: {{ .footer.text_color }};">
  <div class="footer-container">
    <nav
      class="footer-top">
      <a
        class="flex justify-center sm:justify-start items-center"
        href="{{ .footer.logo_url }}">
        {{ $optimized_image_props := dict 
          "data_binding" false 
          "image_path" .footer.logo
          "image_alt" .footer.logo_alt_text
          "image_width" "440" 
          "image_format" "png"
          "class" "footer-logo-image"
          "loading" "lazy"
        }}
        {{ partial "bookshop" (slice "optimized-image" $optimized_image_props) }}
      </a>
      <ul class="footer-socials">
        {{ range .footer.social }}
          <li>
            <a class="footer-social-icon" href="{{ .link }}" aria-label="{{ .name }}">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
        {{ end }}
      </ul>

      <ul class="footer-links">
        {{ range .footer.links }}
          <li>
            <a href={{ .link }}>{{ .text }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>

    <p class="footer-copyright">
      <span>&#169;</span>
      <span>
        {{ if eq .footer.copyright_start_date time.Now.Year }}
          {{ .footer.copyright_start_date }} 
        {{ else }}
          {{ .footer.copyright_start_date }} - {{ time.Now.Year }}
        {{ end }}
      </span>
      <span>{{ .footer.copyright_statement }}</span>
    </p>
  </div>
</footer>
{{ end }}