{{ with .Site.Data.nav }}
<header
  class="header"
  x-data="{ open: false }"
  x-transition>
  <style>
    .header__nav-links {
      background-color: #fff;
      color: #333232;
    }
  </style>

  {{ partial "header-styles" (dict "nav" . "Params" $.Params) }}

  <div class="header__container">
    <nav class="header__nav">

      {{ partial "header-logo" (dict "nav" . "Params" $.Params) }}

      <button class="hamburger" @click="open = ! open">
        <i 
        x-show="!open" 
        aria-label="Open the mobile navigation menu" 
        class="fas fa-bars hamburger-open">
        </i>
        <i
          x-show="open"
          aria-label="Close the mobile navigation menu" 
          class="fas fa-close"
          style="color: #333232;"></i>
      </button>
      <ul
        class="header__nav-links"
        x-show="open"
        aria-label="Navigation menu links"
        x-transition
        @click.outside="open = false">
        {{ range .header.links }}
        <li class="header__nav-item">
          <a class="header__nav-link" href="{{ .link }}">
            {{ .text }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
{{ end }}