{{ $override := .Params.hero_block.header_style_overrides.alternate_logo }}
{{ $original := .nav.header }}
<a class="header__logo-link" href="{{ $original.logo_url }}">
  {{ with $override.image_path }}
    <img class="header__logo-image" src="{{ . }}" alt="{{ $override.logo_alt_text }}" />
    {{ $optimized_image_props := dict 
      "data_binding" false 
      "image_path" .
      "image_alt" $override.logo_alt_text
      "image_width" "440" 
      "image_format" "png"
      "class" "header__logo-image"
      "loading" "eager"
    }}
    {{ partial "bookshop" (slice "optimized-image" $optimized_image_props) }}
  {{ else }}
    {{ $optimized_image_props := dict 
      "data_binding" false 
      "image_path" $original.logo
      "image_alt" $override.logo_alt_text
      "image_width" "440" 
      "image_format" "png"
      "class" "header__logo-image"
      "loading" "eager"
    }}
    {{ partial "bookshop" (slice "optimized-image" $optimized_image_props) }}
  {{ end }}
</a>