{{ $firstContentBlock := index .Params.content_blocks 0 }}
{{ $override := $firstContentBlock.header_style_overrides }}
{{ $original := .nav.header }}
<style>
  /* Text color */
  {{ with $override.text_color }}
    .hamburger-open {
      color: {{ . }};
    }
    @media screen and (min-width: 600px) {
      .header__nav-links {
        color: {{ . }};
      }
    }
  {{ else }}
    .hamburger-open {
      color: {{ $original.text_color }};
    }
    @media screen and (min-width: 600px) {
      .header__nav-links {
        color: {{ $original.text_color }};
      }
    }
  {{ end }}
  @media screen and (min-width: 600px) {
    /* Background color */
    {{ with $override.background_color }}
      .header__nav-links {
        background-color: {{ . }};
      }
    {{ else }}
      .header__nav-links {
        background-color: {{ $original.background_color }};
      }
    {{ end }}
    /* Hover text color */
    {{ with $override.hover_text_color }}
      .header__nav-link:hover {
        color: {{ . }}
      }
    {{ else }}
      .header__nav-link:hover {
        color: {{ $original.text_hover_color }}
      }
    {{ end }}
  }
</style>