
{{ if site.Params.env_bookshop_live }}
  <!-- We copy images from the assets/images folder to static/fallback-images with the exact same path so they work in visual editor -->
  <img src="/editor-fallback-images{{ .image_path }}" alt="{{ .image_alt }}">
{{ else }}
  {{ $image := resources.Get .image_path }}
  {{ $image := $image.Resize (printf "%sx %s" .image_width .image_format) }}
  {{ with $image }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.image_alt }}">
  {{ end }}
{{ end }}