
{{ if or site.Params.env_bookshop_live ( hasSuffix .image_path ".svg" ) }}
  <!-- We copy images from the assets/images folder to static/fallback-images in our prebuild script
  with the same path so that the fallback works when: 
    - image is viewed in CloudCannon's visual editor 
    - the image is an SVG and can't be processed 
  -->
  <img 
    src="{{ .image_path }}" 
    alt="{{ .image_alt }}"
    {{ with .loading }}
      loading="{{ . }}"
    {{ end }}
    {{ with .class }}
      class="{{ . }}"
    {{ end }}
    >
{{ else }}
  {{ $image := resources.Get .image_path }}
  {{ with $image }}
    {{ $image = $image.Resize (printf "%sx %s" $.image_width $.image_format) }}
  {{ end }}
  {{ with $image }}
    <img 
      src="{{ .RelPermalink }}" 
      width="{{ .Width }}" 
      height="{{ .Height }}" 
      alt="{{ $.image_alt }}"
      {{ with $.loading }}
      loading="{{ . }}"
      {{ end }}
      {{ with $.class }}
      class="{{ . }}"
      {{ end }}
    >
  {{ end }}
{{ end }}